<div class="pp-component">
	<div class="hico-roperty-image-container">
		<img class="hico-property-information-img" src="../../resource/images/tcmenu_logo.jpg" alt="TCmenu Logo" height="100%" width="100%">
	</div>

	<h2 class="hico-property-titel">trueChart-Menubar-##VERSION##</h2>
	<p class="hico-property-text-container">trueChart-Menubar: comprehensive navigational options, (pre-)selection and other trigger-based actions</p>
	<p class="hico-property-text-container"><a href="../extensions/tcmenu/doc/tcmenu.pdf" target="_blank">Manual [PDF]</a></p>
	<h3 class="hico-property-subtitel"><a href="http://www.highcoordination.de">HighCoordination &copy;2017</a></h3>
</div>