<div class='pp-component pp-string-component hico-property-nopadding-bottom hico-property-nopadding-left hico-property-nopadding-right'>
	<div class='hico-flex'>
		<span class='hico-flex-row hico-height-auto hico-flex-centered'>
			<span class='hico-property-line'></span>
		</span>
		<span class='hico-height-auto hico-flex-centered'>
			<span class='hico-property-textcontainer'>{{definition.label}}</span>
		</span>
		<span class='hico-flex-row hico-height-auto hico-flex-centered'>
			<span class='hico-property-line'></span>
		</span>
	</div>
</div>