<div class="hico-fullHeight hico-relative">
	<div ng-if="layout.appearance.orientation==='btn-block' || utilService.screenWidth < 768" class="hico-fullHeight">
		<button class="accordion" qva-activate="handleDropdown(item, itemindex)" title="{{item.props.tooltip}}"
				ng-style="
					item.show && !item.props.isCustomSize && {'background-color': colors.hoverActiveColor, 'color': colors.textHoverColor, 'height': '56px'}
					|| !item.show && !item.props.isCustomSize && {'background-color': 'rgba(1,1,1,0)', 'color': colors.textColor, 'height': '56px'}
					|| item.show && item.props.isCustomSize && {'background-color': colors.hoverActiveColor, 'color': colors.textHoverColor, 'height': item.props.height + px}
					|| !item.show && item.props.isCustomSize && {'background-color': 'rgba(1,1,1,0)', 'color': colors.textColor, 'height': item.props.height + px}"
				change-background item="item" colors="colors">
			<div class="hico-btn-container hico-fullHeight">
				<labeldirective item="item" type="'Multi Select'" layout="layout"></labeldirective>
			</div>
		</button>

		<div ng-class="!utilService.isMobile ? ('hico-panel'):('hico-panel-mobile')" ng-show="item.show"
			 ng-style="{'background-color': colors.subItemBackgroundColor}">
			<div ng-repeat="selectItem in item.selectItems"
				 ng-style="{'border-top': 'solid ' + colors.subItemSeparatorColor + ' 1px'}">
				<singleselect class="hico-selectdropdownitem" title="{{selectItem.props.tooltip}}"
							  id="item_{{layout.qInfo.qId}}-{{selectItem.cId}}" item="selectItem" layout="layout"
							  type="item.type" listitems="item.selectItems" multiid="itemId" colors="colors">
				</singleselect>
			</div>

		</div>
	</div>

	<div id="hico-item-horizontal_{{itemId}}" class="hico-item-horizontal hico-item-horizontal-default"
		 ng-mouseleave="closeDropdown(item)" ng-if="layout.appearance.orientation==='btn-inline' && utilService.screenWidth > 767">
		<button class="accordion hico-fullHeight" qva-activate="handleDropdown(item, itemindex)" title="{{item.props.tooltip}}"
				ng-style="item.show && {'background-color': colors.hoverActiveColor, 'color': colors.textHoverColor} ||
				 		{'background-color': 'rgba(1,1,1,0)', 'color': colors.textColor}"
				change-background item="item" colors="colors">
			<div class="hico-btn-container hico-fullHeight">
				<labeldirective item="item" type="'Multi Select'" layout="layout"></labeldirective>
			</div>
		</button>

		<div id="panel_{{itemId}}" class="hico-panel-scrollcontainer tcmenu-scrollable"
			 ng-class="!utilService.isMobile ? ('hico-panel'):('hico-panel-mobile')"  ng-show="item.show"
			 ng-style="{'transform' : 'translate(0px,-1px)', 'background-color' : colors.backgroundColor}">
			<div  class="hico-panel-horizontal" ng-class="!utilService.isMobile ? ('hico-panel'):('hico-panel-mobile')" scrollable
				  ng-style="{'background-color': colors.subItemBackgroundColor}">
				<singleselect class="hico-selectdropdownitem" title="{{selectItem.props.tooltip}}"ng-repeat="selectItem in item.selectItems"
							  id="item_{{layout.qInfo.qId}}-{{selectItem.cId}}" item="selectItem" layout="layout" colors="colors"
							  type="item.type" listitems="item.selectItems"
							  ng-style="{'border-top': 'solid ' + colors.subItemSeparatorColor + ' 1px'}">
				</singleselect>
			</div>
		</div>

	</div>
</div>

