<div class="pp-component">
	<div class="hico-roperty-image-container">
		<img class="hico-property-information-img" src="../../resource/images/menubar_logo.png" alt="TCmenu Logo" height="100%" width="100%">
	</div>

	<h2 class="hico-property-titel">Menubar-##VERSION##</h2>
	<p class="hico-property-text-container">Menubar: comprehensive navigational options, (pre-)selection and other trigger-based actions</p>
	<p class="hico-property-text-container hico-text-center"><a href="https://www.trueChart.com/guides/menubar/##VER##/" target="_blank">Online Manual</a></p>
	<h3 class="hico-property-subtitel"><a href="https://www.truechart.com/menubar">HighCoordination &copy;2019</a></h3>
</div>