<div class="hico-fullHeight hico-flex hico-labeldirective">
	<div class="hico-relative hico-flex-row hico-flex hico-flex-direction-column hico-flex-textwrap">
		<div class="hico-flex hico-flex-column hico-overflow-hidden"
			 ng-style="{'justify-content' : item.props.horAlignLabel, 'align-items' : item.props.verAlignLabel}">
			<span class="hico-flex-textwrap" ng-style="item.selectionStyle">
				<span ng-style="item.labelStyle">
					<span ng-if="item.props.icon !== 'noIcon'" class=" {{item.props.icon}}"
						  ng-class="{'fa':item.props.icon !== 'noIcon' && item.props.icon.indexOf('lui') !== 0, 'lui-icon': item.props.icon !== 'noIcon' && item.props.icon.indexOf('lui') === 0}"></span>
				</span>
				<strong class="" ng-style="item.labelStyle">{{item.props.itemLabel}}</strong>
				<span class="hico-flex-textwrap" ng-if="item.props.textLayout === 'single' && item.props.selectedValue !== '' &&
			 		item.props.selectedValue && !item.props.isCustomSelection"
					ng-style="item.selectionStyle">
				<span ng-if="item.props.itemLabel !== ''">&nbsp;</span>{{item.props.selectedValue}}</span>
				<span class="hico-flex-textwrap"
					  ng-if="(item.props.textLayout === 'single' && item.props.selectionLabel !== '' && item.props.isCustomSelection && item.type !== 'Date Picker' && item.type !== 'Variable Input')
					  || (item.props.textLayout === 'single' && item.props.selectionLabel !== '' && item.props.isCustomSelection && item.type === 'Date Picker' && item.props.date && item.props.date.type !== 'range')"
					  ng-style="item.selectionStyle">
					&nbsp;{{item.props.selectionLabel}}</span>
			</span>
		</div>
		<div class="hico-flex hico-flex-column hico-overflow-hidden"
			 ng-if="(item.props.textLayout === 'multi' && item.type !== 'Date Picker' && item.type !== 'Variable Input') || (item.props.textLayout === 'multi' && item.type === 'Date Picker' && item.props.date && item.props.date.type !== 'range')"
			 ng-style="{'justify-content' : item.props.horAlignSelectionLabel, 'align-items' : item.props.verAlignSelectionLabel}">
			<span class="hico-flex-textwrap" ng-if="!item.props.isCustomSelection" ng-style="item.selectionStyle">{{item.props.selectedValue}}</span>
			<span class="hico-flex-textwrap" ng-if="item.props.isCustomSelection" ng-style="item.selectionStyle">{{item.props.selectionLabel}}</span>
		</div>

		<div class="hico-flex hico-flex-column hico-overflow-hidden"
			 ng-if="item.type === 'Date Picker' && item.props.date.type === 'range'"
			 ng-style="{'justify-content' : item.props.horAlignSelectionLabel, 'align-items' : item.props.verAlignSelectionLabel}">
			<span ng-style="item.labelStyle">
					<span class=" hico-rightspace fa fa-calendar" ></span>
			</span>
			<span ng-if="!item.props.isCustomSelection">
				<span class="hico-flex-textwrap" ng-style="item.selectionStyle">{{item.props.startDate}}</span>
				<span><b> - </b></span>
				<span class="hico-flex-textwrap" ng-style="item.selectionStyle">{{item.props.endDate}}</span>
			</span>

			<span class="hico-flex-textwrap" ng-if="item.props.isCustomSelection" ng-style="item.selectionStyle">{{item.props.selectionLabel}}</span>
		</div>
	</div>
	<span class="hico-flex hico-flex-container-middle fa" ng-class="{'fa-angle-down':!item.show, 'fa-angle-up': item.show}"
			ng-if="type !== 'dropdownItem'"></span>
</div>