<div class="hico-fullHeight hico-lineheight-fix">
	<div ng-if="layout.appearance.orientation==='btn-block' || utilService.isMobileView || groupitem" class="">
		<div id="item_{{itemId}}" class="">
			<button class="accordion" qva-activate="handleDropdown(item, itemindex)"
					ng-style="
					item.show && !item.props.isCustomSize && {'background-color': colors.hoverActiveColor, 'color': colors.textHoverColor, 'height': '56px'}
					|| !item.show && !item.props.isCustomSize && {'background-color': 'rgba(1,1,1,0)', 'color': colors.textColor, 'height': '56px'}
					|| item.show && item.props.isCustomSize && {'background-color': colors.hoverActiveColor, 'color': colors.textHoverColor, 'height': item.props.height + px}
					|| !item.show && item.props.isCustomSize && {'background-color': 'rgba(1,1,1,0)', 'color': colors.textColor, 'height': item.props.height + px}"
					change-background item="item" colors="colors">

				<div class="hico-btn-container hico-fullHeight">
					<labeldirective item="item" layout="layout"></labeldirective>
				</div>
			</button>
			<div ng-class="!utilService.isMobile ? ('hico-panel'):('hico-panel-mobile')" ng-show="item.show"
				 ng-style="{'background-color': colors.subItemBackgroundColor}">
				<div class="" ng-repeat="dropdownItem in item.variableItems" title="{{dropdownItem.props.tooltip}}"
					 ng-style="{'border-top': 'solid ' + colors.subItemSeparatorColor + ' 1px'}">
					<button class="action hico-block" qva-activate="handleAction(dropdownItem)"
							ng-style="dropdownItem.isActive && {'background-color': colors.hoverSubItemColor, 'color': colors.textHoverSubColor}
							|| {'background-color': 'rgba(1,1,1,0)', 'color': colors.textSubColor}"
							change-background item="dropdownItem" issubitem="true" colors="colors">
						<div class="hico-btn-container hico-fullHeight">
							<labeldirective class="hico-block hico-fullHeight" item="dropdownItem" type="'dropdownItem'" layout="layout"></labeldirective>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="hico-item-horizontal_{{itemId}}" class="hico-item-horizontal hico-item-horizontal-default"
		 ng-if="layout.appearance.orientation==='btn-inline' && !utilService.isMobileView && !groupitem"
		 ng-mousemove="keepDropdown()" ng-mouseleave="closeDropdown(item)">
		<button class="accordion hico-fullHeight" qva-activate="handleDropdown(item, itemindex, $event)"
				ng-style="item.show && {'background-color': colors.hoverActiveColor, 'color': colors.textHoverColor} ||
				 		{'background-color': 'rgba(1,1,1,0)', 'color': colors.textColor}"
				change-background item="item" colors="colors">
			<div class="hico-btn-container hico-fullHeight">
				<labeldirective class="hico-block hico-fullHeight" item="item" layout="layout"></labeldirective>
			</div>
		</button>

		<div id="panel_{{itemId}}" class="hico-panel-scrollcontainer hico-select-panel-horizontal-container hico-panel"
			 ng-class="!utilService.isMobile ? ('hico-panel'):('hico-panel-mobile')"
			 ng-mousemove="keepDropdown()" ng-mouseleave="closeDropdown(item)"
			 ng-show="item.show"
			 ng-style="{ 'top' : panelDropdownOffsetY + 'px', 'left':panelDropdownOffsetX + 'px', 'background-color' : colors.backgroundColor}">
			<div class="hico-panel-horizontal" ng-class="!utilService.isMobile ? ('hico-panel'):('hico-panel-mobile')" scrollable
				 ng-style="{'background-color': colors.subItemBackgroundColor}">
				<div class="" ng-repeat="dropdownItem in item.variableItems" title="{{dropdownItem.props.tooltip}}"
					 ng-style="{'border-top': 'solid ' + colors.subItemSeparatorColor + ' 1px'}">
					<button class="action hico-block" qva-activate="handleAction(dropdownItem)"
							ng-style="dropdownItem.isActive && {'background-color': colors.hoverSubItemColor, 'color': colors.textHoverSubColor}
							|| {'background-color': 'rgba(1,1,1,0)', 'color': colorsappearance.textSubColor}"
							change-background item="dropdownItem" issubitem="true" colors="colors">
						<div class="hico-btn-container hico-fullHeight">
							<labeldirective item="dropdownItem" type="'dropdownItem'" layout="layout"></labeldirective>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>